.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-secondary);
}

.titleContainer {
  top: 3%;
  left: 2%;
  display: flex;
  font-size: 1.4rem;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.img {
  width: 3.75rem;
  height: 3.75rem;
}

.title {
  color: var(--color-complementary-text);
  background-color: var(--color-complementary);
  text-transform: uppercase;
  padding: 0.3rem 0.7rem;
  margin-left: 0.3rem;
}

.innerContainer {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: var(--color-accent);
}

.flash {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.goBack {
  color: var(--color-accent) !important;
  text-decoration: none !important;
}

.goBackContainer:hover,
.goBackContainer a:hover {
  color: var(--color-accent-ctrl) !important;
  font-weight: 600;
}
